{% extends 'portfolio/base.html' %}
{% block content %}
<div class="container">
<div class="content text-center">
<h1>Portfolio de Álvaro</h1>
{% load static %}
<br \><img src="{% static 'portfolio/clan.png' %}" class="img-fluid">
</div>
<hr/>
<ul class="flex-container">
{% for project in projects %}
   <li class="flex-item">
    <h2>{{ project.title }}</h2>
    <h5>{{ project.description|truncatechars:80 }}</h5>
    <img src="{{ project.image.url }}" class="img-fluid" width="100%">
    {% if project.url %}
    <br><a href="{{ project.url }}" target="_blank">Ver sitio</a>
  </li>
{% endif %}
{% endfor %}
</ul>
<hr/>
</div>
{% endblock %}
