{% extends 'portfolio/base.html' %}
{% block content %}
<div class="content text-center">
<h1>Blog</h1>
<h5>Álvaro ha escrito {{ cantPosts }} post{{ cantPosts|pluralize }}</h5>
</div>
<div class="container">
{% for post in posts %}
<hr \>
<h1><a href="{% url 'blog:detail' post.id  %}">{{ post.titlePost }}</a></h1>
<h5>{{ post.datePost|date:'d M Y'|upper }}</h5>
<h2>{{ post.contentPost|striptags|truncatewords:10 }}</h2>
{% endfor %}
</div>
{% endblock %}
