{% extends 'portfolio/base.html' %}
{% block content %}
<div class="content text-center">
<h1 class="text-center mt-5" id="blogdetailtitle">{{ blog.titlePost }}</h1>
</div>
<div class="container">
<a href="{% url 'blog:all_blogs' %}">Volver al Blog</a>
<hr \>
<h5>{{ blog.datePost|date:'d M Y'|upper }}</h5>
<h2>{{ blog.contentPost|safe }}</h2>
<hr \>
<a href="{% url 'blog:all_blogs' %}">Volver al Blog</a>
</div>
{% endblock %}
